[class*=__container] {
  max-width: 1480px;
  margin: 0 20px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__cover {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: block;
  width: 175.31px;
  height: 55px;
  margin: 34px 0 34px 67px;
}

.hidden {
  display: none;
}

.header__container.active {
  background: rgb(42, 0, 162);
  width: 100%;
  transition: all 500ms;
  margin: 0 auto;
}
.header__container.active ul {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-bottom: 20px;
}
.header__container.active ul li {
  list-style-type: none;
  margin: 0 auto;
}
.header__container.active ul li a {
  max-width: 100%;
  text-decoration: none;
  /* Mobile / Link Large */
  color: rgb(243, 239, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.75px;
}

.header__container {
  transition: all 500ms;
  margin: 0 auto;
}

.header__burger-cover {
  display: flex;
  flex-direction: column;
}
.header__burger-cover .burger-body {
  position: absolute;
  border-radius: 20px;
  z-index: 3;
  right: 5px;
  top: 120px;
  width: 300px;
  transition: all 1s;
}
.header__burger-cover .burger-body ul {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.header__burger-cover .burger-body ul li {
  list-style: none;
  max-width: 100%;
}
.header__burger-cover .burger-body ul li a {
  text-decoration: none;
  /* Mobile / Link Large */
  color: rgb(243, 239, 255);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.75px;
  text-align: left;
}

.burger__lines {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  height: 18px;
  margin: 54px 67px 0 0;
  z-index: 2;
}
.burger__lines .burger__line-one,
.burger__lines .burger__line-two,
.burger__lines .burger__line-three {
  display: block;
  content: "";
  width: 28px;
  height: 4px;
  border-radius: 30px;
  /* Primary / Default */
  background: rgb(95, 46, 234);
  transition: all 600ms;
}
.burger__lines .burger__line-one.active {
  display: none;
  transition: all 600ms;
}
.burger__lines .burger__line-two.active {
  position: absolute;
  margin: 0;
  top: 50%;
  transition: all 600ms;
}
.burger__lines .burger__line-two.active {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
  transition: all 600ms;
}
.burger__lines .burger__line-three.active {
  position: relative;
  margin: 0;
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  transition: all 600ms;
}

.main {
  position: relative;
}

.main__header-block {
  position: relative;
}

.header_block-col1__title {
  /* Desktop / Display Large Bold */
  color: rgb(78, 75, 102);
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 1px;
  text-align: left;
  max-width: 669px;
  margin-top: 220px;
}

.header_block-col1__btns-cover {
  display: flex;
  -moz-column-gap: 29px;
       column-gap: 29px;
  z-index: 2;
}

.header_block-col1__begin {
  width: 243px;
  height: 64px;
  border-radius: 40px;
  /* Primary / Default */
  background: rgb(95, 46, 234);
  border: none;
  color: rgb(247, 247, 252);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
}

.header_block-col1__begin:hover {
  background: rgb(184, 167, 231);
  color: rgb(109, 109, 109);
  transition: all 500ms;
}

.header_block-col1__begin:not(:hover) {
  transition: all 500ms;
}

.header_block-col1__receive {
  width: 243px;
  height: 64px;
  box-sizing: border-box;
  /* Primary / Default */
  border: 2px solid rgb(95, 46, 234);
  border-radius: 40px;
  color: rgb(95, 46, 234);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  background-color: transparent;
}

.header_block-col1__receive:hover {
  border: 2px solid rgb(44, 32, 80);
  border-radius: 40px;
  color: rgb(255, 255, 255);
  transition: all 500ms;
  background-color: rgb(44, 32, 80);
}

.header_block-col1__receive:not(:hover) {
  transition: all 500ms;
}

.main_header_block-col1 {
  position: absolute;
  margin-left: 125px;
  z-index: 5;
}

.main_header_block-col2 {
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  top: 160px;
  z-index: 6;
}

.main_header_block-col2__right-background {
  position: relative;
  max-width: 1090px;
  max-height: 634px;
}

@media screen and (max-width: 850px) {
  .main_header_block-col1 {
    margin: 10px;
  }
  .header_block-col1__title {
    max-width: 100%;
    margin: 0 20px;
    font-size: 2em;
    text-align: center;
  }
  .header_block-col1__btns-cover {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .header_block-col1__btns-cover .header_block-col1__begin {
    display: block;
    margin: 0 auto;
  }
  .header_block-col1__btns-cover .header_block-col1__receive {
    display: block;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */